<!doctype html>
<html lang="en">
<head>

  <!--Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>repl.it</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link href="css/style.css" rel="stylesheet" type="text/css" />

  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <div class="container">
  <header class="row"> 
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <h1> Nellie Edwards </h1>
    </div>
  </header>

  <nav class="row navbar navbar-default">
    <div>
      <!-- Using the attributes for the button class from Professor Mike Collins slide deck for MSIS TBC II -->
      <button class="navbar-toggle" data-toggle="collapse" data-target="#my_menu">
        <span class="icon-bar"> </span>
        <span class="icon-bar"> </span>
        <span class="icon-bar"> </span>
      </button>
    </div>

    <div class="collapse navbar-collapse" ID="my_menu">
      <ul class="nav navbar-nav">
        <li> <a class="nav_links" href="index.html"> Home </a></li>
        <li> <a class="nav_links" href="user.html"> About Me </a></li>
        <li> <a class="nav_links" href="books.html"> My Books </a></li>
      </ul>
    </div>
  </nav>

  <div id="bookApp" class="container">
  <table id="bookTable" class="table table-dark table-striped"> <!--Using code from -- https://www.w3schools.com/html/html_tables.asp -->
    <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Year Published</th>
      <th scope="col">Publisher</th>
      <th scope="col">Page Count</th>
      <th scope="col">MSRP</th>
    </tr>
 </thead>

 <tbody>
    <tr v-for="bk in book">
      <td>{{bk.title}}</td>
      <td>{{bk.author}}</td>
      <td>{{bk.pyear}}</td>
      <td>{{bk.publisher}}</td>
      <td>{{bk.pageno}}</td>
      <td>{{bk.msrp}}</td>

      <td></td>
      <td>
        <button type="button" class="btn btn-outline-secondary btn-sm"
          v-on:click="selectBook(bk)">Edit</button>
        <button type="button" class="btn btn-outline-secondary btn-sm"
          v-on:click="postDeleteBook(bk)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <br>
  <br>

  <h3>{{selectedBook === null ? "Add" : "Edit" }} Book</h3>

  <form v-on:submit.prevent="postNewBook"> <!-- Using code from - https://getbootstrap.com/docs/4.1/components/forms/-->
    <div class="form-group">
      <label for="exampleTitle">Title</label>
      <input type="text" v-model="bookForm.title" class="form-control" id="exampleTitle" aria-describedby="Title" placeholder="Enter book title">
    </div>
    <div class="form-group">
      <label for="exampleAuthor">Author</label>
      <input type="text" v-model="bookForm.author" class="form-control" id="exampleAuthor" placeholder="Author">
    </div>
    <div class="form-group">
      <label for="exampleYear">Year Published</label>
      <input type="text" v-model="bookForm.pyear" class="form-control" id="exampleYear" placeholder="Year Published">
    </div>
    <div class="form-group">
        <label for="examplePublisher">Publisher</label>
        <input type="text" v-model="bookForm.publisher" class="form-control" id="examplePublisher" placeholder="Publisher">
    </div>
    <div class="form-group">
        <label for="examplePageCount">Page Count</label>
        <input type="text" v-model="bookForm.pageno" class="form-control" id="examplePageCount" placeholder="Number of Pages">
    </div>
    <div class="form-group">
        <label for="exampleMSRP">MSRP</label>
        <input type="text" v-model="bookForm.msrp" class="form-control" id="exampleMSRP" placeholder="Price">
    </div>
    <button type="submit" class="btn btn-primary">Add Book Entry</button>
    <button type="submit" class="btn btn-primary">{{selectedBook === null ? "Add" : "Edit" }} Book</button>
    <button type="button" class="btn btn-outline-secondary"
      v-if="selectedBook"
      v-on:click="resetBookForm">Cancel</button>
  </form>
</div>

  <script src="js/tablesort.min.js"></script>
  <script>
    new Tablesort(document.getElementById('bookTable'));
  </script>

  <script src="js/books.js"></script>
</body>

</html>